<ion-view view-title="Account">
  <ion-content>

    <div  class="item" style="text-align: center; background: #f4eae9; padding-top: 15px; border-bottom-color: #B3A5A5; border-bottom-width: 2px !important; border-bottom-style: dashed;">
      <img ng-src="{{customerProfile.avatar || placeholder}}" ng-click="showUploadOption()" style="width: 100px; border-radius: 50%; max-width: 100px; max-height: 100px; border-width: 3px; border-style: solid; border-color: white;" class="blush-avatar">
      <p ng-hide="customerProfile.avatar">Tap on the picture to change avatar!</p>
    </div>

    <div class="list">
      <div class="item item-divider" style="padding-top: 20px; text-align: center; font-family: RaleWay; background-color: #f4eae9;">
        <b>My Profile</b>
      </div>
      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input class="login-text login-input" type="text" placeholder="First Name" ng-model="customerProfile.firstName">
      </label>
      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input class="login-text login-input" type="text" placeholder="Last Name" ng-model="customerProfile.lastName">
      </label>

      <label class="item blush-background item-input" style="padding-right: 5%;">
        <select class="login-text login-input" ng-model="customerProfile.gender" style="background: #f4eae9; width: 100%; padding-left: 44%; border-color: #444;">
          <option value="female">Female</option>
          <option value="male">Male</option>
        </select>
      </label>



      <div class="item" ion-datetime-picker date ng-model="customerProfile.birthDate" style="background: #f4eae9; text-align: center;">
        <span class=""><b>Birthdate</b></span><br>
        <input class="login-text login-input" type="text" placeholder="Birth Date" style="width: 100%;" value="{{customerProfile.birthDate.toString() | limitTo:16}}">
        <strong></strong>
      </div>


      <div class="item item-divider" style="text-align: center; font-family: RaleWay; background-color: #f4eae9;">
         <b>Contact Information</b>
      </div>

      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input type="text" class="login-text login-input" placeholder="Email" ng-model="customerProfile.email">
      </label>
      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input type="text" class="login-text login-input" placeholder="Contact Number" ng-model="customerProfile.contactNumber">
      </label>
      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input type="text" class="login-text login-input" placeholder="Address" ng-model="customerProfile.address">
      </label>

      <div class="item item-divider" style="text-align: center; font-family: RaleWay; background-color: #f4eae9;">
         <b>Account Credentials</b>
      </div>
      <label class="item blush-background" style="padding-bottom: 0px; border-bottom-color: #B3A5A5; border-bottom-width: 2px !important; border-bottom-style: dashed;">
        <button class="button button-block button-assertive login-button" ng-click="changePassword()">Change Password</button>
        <br>
      </label>
      <!-- <label class="item blush-background item-input" style="padding-right: 5%;">
        <input type="password" class="login-text login-input" placeholder="Old Password" ng-model="customerProfile.oldPassword">
      </label>
      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input type="password" class="login-text login-input" placeholder="New Password" ng-model="customerProfile.newPassword">
      </label> -->

      <label class="item blush-background" style="padding-bottom: 0px;">
        <button class="button button-block button-light blush-button-brown login-button" ng-click="updateProfile()">Update Account</button>
        <br>
      </label>
    </div>
  </ion-content>
</ion-view>
