<ion-view view-title="Booking">

  <ion-content>
    <div style="background: #f1807a; padding-top: 10px;">
      <div class="row">
        <div class="col col-90" style="padding:0px; padding-left:10%;">
          <div class="item" style="background: #f1807a; text-align: center; padding: 10px;">
            <img ng-src="{{profile.avatar || spiral}}" class="blush-avatar" style="width: 100px; max-width: 100px; max-height: 100px; border-width: 7px; border-style: double; border-color: white;">
            <h2 style="color: white;"><b>{{profile.firstName}} {{profile.lastName}}</b></h2>
            <p style="color: white; font-size: 12px;">{{profile.serviceType}}  |  350 meters away from you</p>
            <!-- <p>
            <i class="ion-android-star energized"></i>
            <i class="ion-android-star energized"></i>
            <i class="ion-android-star energized"></i>
            <i class="ion-android-star energized"></i>
            <i class="ion-android-star-half energized"></i>
          </p> -->
          <!-- <button class="button button-positive button-small" ng-click="followArtist()"><i class="ion-person-add"> Follow</i></button>
          <a class="button button-positive button-small" ng-href="#/app/chat-view/{{artistId}}"><i class="ion-ios-chatboxes"> Message</i></a> -->
        </div>
        </div>
        <div class="col" style="padding:0px; text-align: center; padding-top: 5px;">
          <div>
            <button ng-click="messageArtist()" class="button button-icon button-clear ion-ios-chatbubble button-clear" style="padding: 0px; font-size: 28px; color: white;">
            </button>
          </div>
          <div>
            <button class="button button-icon button-clear ion-information-circled button-clear" style="padding: 0px; font-size: 24px; color: white;">
            </button>
          </div>
          <div>
            <button class="button button-icon button-clear ion-android-person-add button-clear" ng-click="followArtist()" style="padding: 0px; font-size: 24px; color: white;">
            </button>
          </div>
        </div>
      </div>
    </div>

    <ion-tabs class="tabs-assertive tabs-color-light tabs-icon-top">

      <ion-tab on-select="changeTab('services')" title="Services" icon-on="ion-paintbrush" icon-off="ion-paintbrush">
        <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab on-select="changeTab('portfolio')" title="Portfolio" icon-on="ion-android-person" icon-off="ion-android-person">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab on-select="changeTab('reviews')" title="Reviews" icon-on="ion-compose" icon-off="ion-compose">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>

    <div ng-if="selectedTab === 'services'" style="padding-bottom: 20%;">

      <div ng-if="!artistServices.length" class="item" style="text-align: center; white-space: normal;">Sorry, {{profile.firstName}} doesn't have any services yet.</div>

      <ion-list>
        <div ng-repeat="service in artistServices" style="border-bottom-color: lightgray; border-bottom-width: 2px; border-bottom-style: dashed;">
          <ion-checkbox ng-click="toggleSelection(service)" ng-checked="service.checked">
            <div class="row" style="padding: 0px;">
              <div class="col-75" style="padding: 0px;"><b>{{service.attributes.name}}</b></div>
              <div class="col" style="padding: 0px; text-align: right;"><b>₱{{service.attributes.price}}</b></div>
            </div>

            <p>{{service.attributes.duration}} mins</p>
            <p style="white-space: normal;">{{service.attributes.description}}
            </p>
            <!-- <br> -->
            <!-- <span class="item-note">
            ₱{{service.attributes.price}}
          </span> -->
        </ion-checkbox>
        <div class="row" style="padding-left: 15%; padding-right: 10%;">
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[0].path}}" alt="" style="width: 100%;" ng-click="viewPortfolio(service.attributes.servicePhotos[0].path)"></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[1].path}}" alt="" style="width: 100%;" ng-click="viewPortfolio(service.attributes.servicePhotos[1].path)"></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[2].path}}" alt="" style="width: 100%;" ng-click="viewPortfolio(service.attributes.servicePhotos[2].path)"></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[3].path}}" alt="" style="width: 100%;" ng-click="viewPortfolio(service.attributes.servicePhotos[3].path)"></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[2].path}}" alt="" style="width: 100%;" ng-click="viewPortfolio(service.attributes.servicePhotos[2].path)"></div>
        </div>
        </div>


      </ion-list>
    </div>

    <div ng-if="selectedTab === 'portfolio'">
      <div class="row" ng-repeat="image in artistPortfolio" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < artistPortfolio.length" style="height: 90px !important; overflow: hidden !important;">
          <img ng-src="{{artistPortfolio[$index].attributes.imagePath}}" ng-click="viewPortfolio(artistPortfolio[$index + 0].attributes.imagePath, artistPortfolio[$index + 0].attributes.description)" spinkit-image-preloader='chasing-dots-spinner' width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 1 < artistPortfolio.length" style="height: 90px !important; overflow: hidden !important;">
          <img ng-src="{{artistPortfolio[$index + 1].attributes.imagePath}}" ng-click="viewPortfolio(artistPortfolio[$index + 1].attributes.imagePath, artistPortfolio[$index + 1].attributes.description)" spinkit-image-preloader='chasing-dots-spinner' width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 2 < artistPortfolio.length" style="height: 90px !important; overflow: hidden !important;">
          <img ng-src="{{artistPortfolio[$index + 2].attributes.imagePath}}" ng-click="viewPortfolio(artistPortfolio[$index + 2].attributes.imagePath, artistPortfolio[$index + 2].attributes.description)" spinkit-image-preloader='chasing-dots-spinner' width="100%" />
        </div>
      </div>
    </div>

    <div ng-if="selectedTab === 'reviews'">
      <br>
      <div ng-if="!artistReviews.length" class="item" style="text-align: center; white-space: normal;">Sorry, {{profile.firstName}} doesn't have any reviews yet.</div>
      <div class="list">

        <div class="item item-thumbnail-left" ng-repeat="review in artistReviews">
          <img ng-src="{{review.attributes.customerInfo.avatar || spiral}}">
          <h2>{{review.attributes.title}}</h2>
          <p>
            <rating ng-model="review.attributes.ratings" max="5"></rating>
          </p>
          <p style="white-space: normal;">{{review.attributes.description}}</p>
          <p>by <em>{{review.attributes.customerInfo.firstName}} {{review.attributes.customerInfo.lastName}}</em></p>
          <br>
        </div>

      </div>
    </div>

  </ion-content>
  <div ng-style="{opacity : ((totalBill > 0) && '1') || '0.8'}" ng-if="selectedTab === 'services'" class="item item-divider blush-background-alt" style="position: fixed; bottom: 0; width: 100%; padding-top: 1px;
  padding-bottom: 1px; padding-right: 5px;">
    <div class="row">
      <div class="col" style="padding-top: 15px;"><span>Total Bill:</span></div>
      <div class="col text-left" style="padding-top: 15px;"><b>₱{{totalBill}}</b></div>
      <div class="col col-50"><button class="button button-block button-small button-energized" style="margin-top: 0px;
        margin-bottom: 0px; background: #b7d05b; border-radius:30px; height: 40px;" ng-click="book()" ng-disabled="!totalBill"><b style="font-size: 16px;">Book Now! <i class="icon ion-chevron-right"></i></b></button></div>
    </div>
  </div>
</ion-view>
