<ion-view view-title="Book">
  <ion-content>
    <div class="list">

      <div class="item item-divider" style="padding-top: 20px; text-align: center; font-family: RaleWay; background-color: #f4eae9;">
        <b>Contact Information</b>
      </div>
      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input class="login-text login-input"  type="text" ng-model="customerProfile.firstName" placeholder="First Name">
      </label>
      <label class="item blush-background item-input" style="padding-right: 5%;">
        <input class="login-text login-input"  type="text" ng-model="customerProfile.lastName" placeholder="Last Name">
      </label>
      <label class="item blush-background item-input" style="padding-right: 5%; padding-bottom: 15px; border-bottom: 1px gray dashed !important;">
        <input class="login-text login-input"  type="text" ng-model="customerProfile.contactNumber" placeholder="Contact Number">
      </label>
      <br>

      <div class="item item-divider" style="padding-top: 20px; text-align: center; font-family: RaleWay; background-color: #f1807a;">
        <b style="color:white;">Selected Artist</b>
      </div>

      <div class="item" style="background: #f1807a; padding-top:0px; padding-bottom:0px;">
        <a class="item item-avatar" style="background: #f1807a;">
          <img src="{{artist.avatar}}" style="border-radius: 50%;">
          <h2 style="color: white;">{{artist.firstName}} {{artist.lastName}}</h2>
          <p>{{artist.serviceType}}</p>
        </a>
        <!-- <a class="button button-block button-positive button-small" href="#/app/artistlist" style="width: 100%;">Choose other Artists</a> -->
      </div>

      <div class="item item-divider" style="padding-top: 10px; text-align: center; font-family: RaleWay; background-color: #f1807a;">
        <b style="color: white;">Schedule</b>
      </div>

      <div class="item item-icon-right" ion-datetime-picker am-pm ng-model="datetimeValue" style="background: #f1807a;">
        <strong style="color: white;">{{datetimeValue| date: "MMMM dd yyyy"}} - </strong>
        <strong style="color: white; text-align:right; padding-left:1%;">{{datetimeValue| date: "h:mm a"}}</strong>
        <i class="icon ion-edit positive" style="color: #574C4F; font-size: 24px;"></i>
      </div>

      <div class="item" style="background: #f1807a; border-top: 1px white dashed !important; padding-bottom: 0px;">
        <div class="row" ng-if="!isBookingLoading">
          <div class="col" style="color: white;">Total Bill:</div>
          <div class="col text-right" style="color: white;"><b>₱{{totalBill}}</b></div>
        </div>
        <div style="text-align: center;" ng-if="isBookingLoading">
          <ion-spinner icon="spiral"></ion-spinner><br>
          <span style="color: white;">Sending Booking Request to Artist...</span>
        </div>

      </div>

      <!-- <div class="item item-divider" style="padding-top: 20px; text-align: center; font-family: RaleWay; background-color: #f4eae9;">
        <b>Mode of Payment</b>
      </div> -->

      <div class="item" style="background: #f1807a; padding-bottom: 90px;">
        <!-- <ion-list>

          <ion-radio ng-model="choice.name" value="cash" style="background: #f4eae9;">Cash On Delivery</ion-radio>
          <ion-radio ng-model="choice.name" value="creditCard" style="background: #f4eae9;">Credit Card</ion-radio>
        </ion-list>
        <br> -->
        <button class="button button-block button-light blush-button-brown login-button" ng-click="book(datetimeValue)">Book Now</button>
      </div>

    </div>
  </ion-content>
</ion-view>
