<!-- <ion-view view-title="chat">
<ion-content>


<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
<label class="item-input-wrapper">
<input type="text" placeholder="Write A Message...">
</label>
<button class="button button-small button-positive">
Submit
</button>

</ion-footer-bar>

</ion-content>
</ion-view> -->

<ion-view id="userMessagesView"
cache-view="false"
view-title="{{toUser.username}} ({{isPubnubOnline}})">

<div class="loader-center" ng-if="!doneLoading">
  <div class="loader">
    <i class="icon ion-loading-c"></i>
  </div>
</div>

<ion-content has-bouncing="true" class="has-header has-footer"
delegate-handle="userMessageScroll">

<!-- <div ng-if="messages.length < 1" class="text-center" style="padding-top: 50%;">
<p style="color: gray;">This is your first chat with ...</p>
</div> -->

<div ng-if="isLoading" style="text-align: center; padding-top: 50%;">
  <ion-spinner icon="spiral"></ion-spinner><br>
  <span>Loading Messages...</span>
</div>

<div ng-repeat="message in messages | orderBy: 'attributes.createdAt'" class="message-wrapper">

  <div ng-if="user._id !== message.attributes.userId">

    <img ng-click="viewProfile(message)" class="profile-pic left"
    ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />

    <div class="chat-bubble left">

      <div class="message" ng-bind-html="message.attributes.message | nl2br" autolinker>
      </div>

      <div class="message-detail">
        <!-- <span ng-click="viewProfile(message)" class="bold">{{toUser.username}}</span><br> -->
        <span am-time-ago="message.attributes.createdAt" style="font-size: 11px;"></span>
      </div>

    </div>
  </div>

  <div ng-if="user._id === message.attributes.userId">

    <img class="profile-pic right"
    ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

    <div class="chat-bubble right">

      <div class="message" ng-bind-html="message.attributes.message | nl2br" autolinker>
      </div>

      <div class="message-detail">
        <!-- <span ng-click="viewProfile(message)" class="bold">{{user.username}}</span><br> -->
        <span am-time-ago="message.attributes.createdAt" style="font-size: 11px;"></span>
        <span ng-show="message.attributes.isFail" style="font-size: 11px; color: red;">Failed to Send</span>
      </div>

    </div>

  </div>

  <div class="cf"></div>

</div>
</ion-content>

<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
  <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
    <label class="item-input-wrapper">
      <textarea ng-model="input.message" value="" placeholder="Send {{toUser.username}} a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
    </label>
    <div class="footer-btn-wrap">
      <button class="button button-icon icon ion-android-send footer-btn" type="submit"
      ng-disabled="!input.message || input.message === ''">
    </button>
  </div>
</ion-footer-bar>
</form>

</ion-view>
