<ion-modal-view style="background:white;">
	<ion-header-bar>
		<h1 class="title">Comments</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-android-close" ng-click="hideComments()">
			</button>
		</div>
		<!-- <button class="button button-small button-block button-energized" style="margin-top: 0px;
		margin-bottom: 0px;" ng-click="hideComments()"><b>Close <i class="icon ion-chevron-left"></i></b></button> -->
	</ion-header-bar>
	<ion-content>

		<div ng-if="isCommentLoading" style="text-align: center; padding-top: 45%; padding-right: 10px; padding-left: 10px;">
			<ion-spinner icon="spiral"></ion-spinner><br>
			<span>Loading Comments</span>
		</div>

		<div class="list" ng-if="!isCommentLoading">

			<a class="item item-avatar" ng-repeat="comment in comments">
				<img ng-src="{{comment.attributes.commenterInfo.avatar || spiral}}">
				<h2>{{comment.attributes.commenterInfo.firstName || 'Anonymous'}} {{comment.attributes.commenterInfo.lastName}}</h2>
				<p style="white-space: normal;">{{comment.attributes.comment}}</p>
				<h5 style="white-space: normal;">{{comment.attributes.updatedAt | date: "MMMM dd yyyy h:mm a"}}</h5>
			</a>

			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Write a Comment..." ng-model="cardInfo.comment">
				</label>
				<button class="button button-small" ng-click="postComment(cardInfo.portfolioId)">
					Submit
				</button>
			</div>

		</div>
	</ion-content>
</ion-modal-view>
