<ion-view view-title="Discover">

  <div class="fixed-header my-video" ng-if="!isLoading">
    <!-- <button class="button button-block button-balanced button-small" style="margin-bottom: 3px;" ng-click="scrollMainToTop()">
      Scroll To Top <i class="icon ion-arrow-up-c"></i>
    </button> -->

    <button class="button button-balanced icon ion-arrow-up-c pull-right" style="opacity: 0.8; border-radius: 50% !important" ng-click="scrollMainToTop()"></button>
  </div>

  <ion-content overflow-scroll="true" delegate-handle="mainScroll">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div ng-if="isLoading" style="text-align: center; padding-top: 50%;">
      <ion-spinner icon="spiral"></ion-spinner><br>
      <span>Loading Trends...</span>
    </div>

    <div ng-if="!isLoading" class="list card" ng-repeat="card in cards" style="margin-right: 0px; margin-left: 0px;">

      <div class="item item-avatar">
        <img ng-click="redirectToArtist(card.attributes.artistInfo.id)" ng-src="{{card.attributes.artistInfo.avatar || spiral}}" class="animate-show" fade-in>
        <h2><a ng-href="#/app/artist/{{card.attributes.artistInfo.id}}"><b>{{card.attributes.artistInfo.name}}</b></a></h2>
        <p ng-click="redirectToArtist(card.attributes.artistInfo.id)">{{card.attributes.artistInfo.address}}</p>
      </div>

      <div class="item item-body" style="padding-right: 0px; padding-left: 0px; padding-top: 0px;">

        <img class="full-image" ng-src="{{card.attributes.imagePath}}" spinkit-image-preloader='chasing-dots-spinner' on-double-tap="addLike(card)">
        <div style="padding-right: 15px; padding-left: 15px;">
          <p>
            {{card.attributes.description}}
          </p>
          <p>
            <a class="subdued" ng-click="addLike(card)" style="font-size: 16px;"><i style="color:#f1807a;" class="ion-ios-heart"></i> {{card.attributes.likes.length || 0}} Likes</a>
            <a class="subdued" ng-click="getComments(card)" style="font-size: 16px;"><i style="color:#6cd9ff;" class="ion-ios-chatbubble"></i> {{card.attributes.comments.length || 0}} Comments</a>
          </p>
        </div>

      </div>

    </div>
    <!-- <div ng-if="!isLoading" class="row">
      <div class="col" style="text-align: center;">
        <button class="button button-positive button-outline" ng-click="loadMorePosts()">Load More Posts...</button>
      </div>
    </div> -->
    <ion-infinite-scroll on-infinite="loadMorePosts()" distance="20%" icon="ion-loading-c" ng-if="moreDataCanBeLoaded()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
