<ion-view view-title="Blush">
  <ion-content overflow-scroll="true">
    <div class="text-center" style="">
      <br>
      <!-- <h5>Find and Book</h5> -->
      <div id="home-find" class="row responsive-sm responsive-md responsive-lg" style="padding-left: 0px; padding-right: 0px; padding-top: 0px;">
            <div class="col my-container" ng-click="redirect('app.artistlist')" style="margin-bottom: 3px; background: #574C4F;">
              <div style="margin-top: 92px;">
                <h3 class="text-left" style="color:white; z-index: 2; position: relative; text-shadow: 2px 2px 8px #444;"><b class="rale-way-bold">FIND ARTISTS<br>NEAR YOU</b></h3>
                <h4 class="text-left" style="color:white; z-index: 2; position: relative; text-shadow: 0 0 3px rgba(98, 94, 94, 0.95);">View it in Map or List View</h4>
              </div>
              <img ng-src="{{homePageImages.top}}" class="animate-show" fade-in>

              <!-- <a class="button button-block button-balanced" href="#/app/service">
              Find Artists Near You
            </a> -->
          </div>
          <div class="col my-container" ng-click="redirect('app.discover')" style="margin-bottom: 3px; background: #574C4F;">
            <div style="margin-top: 92px;">
              <h3 class="text-left" style="color:white; z-index: 2; position: relative; text-shadow: 2px 2px 8px #444;"><b class="rale-way-bold">Discover Daily<br> Trends</b></h3>
              <h4 class="text-left" style="color:white; z-index: 2; position: relative; text-shadow: 0 0 3px rgba(98, 94, 94, 0.95);">Awesome daily updates from artists</h4>
            </div>
            <img ng-src="{{homePageImages.mid}}" class="animate-show" fade-in>
            <!-- <a class="button button-block button-assertive" href="#/app/discover">
            Discover Daily Trends
          </a> -->
        </div>

        <div class="col my-container" ng-click="redirect('quickbook')" style="background: #574C4F;">
          <div style="margin-top: 92px;">
            <h3 class="text-left" style="color:white; z-index: 2; position: relative; text-shadow: 2px 2px 8px #444;"><b class="rale-way-bold">Quick Booking</b></h3>
            <h4 class="text-left" style="color:white; z-index: 2; position: relative; text-shadow: 0 0 3px rgba(98, 94, 94, 0.95);">Instantly book the nearest and available artist</h4>
          </div>
          <!-- <button class="button button-block button-positive">
          Quick Booking
        </button> -->
        <img ng-src="{{homePageImages.bot}}" class="animate-show" fade-in>
      </div>

    </div>
<div class="row" style="padding-left: 0px; padding-right: 0px;">

</div>

<!-- <div class="row" ng-hide="currentUser" style="border-top-width: 1px; border-style: solid; border-color: lightgray;">
  <div class="col">
    <button class="button button-block button-positive button-small" ng-click="showRegisterForm()">SIGN UP</button>
  </div>
  <div class="col">
    <button class="button button-block button-positive button-small" ng-click="login()">LOG IN</button>
  </div>
</div>

<div class="row" ng-show="currentUser" style="border-top-width: 1px; border-style: solid; border-color: lightgray;">
  <div class="col">
    <p>
      Hi <b>{{currentCustomer}}</b>! Welcome to Blush, tap on the quick links to get started!
    </p>
  </div>
</div> -->



</div>


</ion-content>
</ion-view>
