<ion-modal-view>
  <ion-header-bar class="blush-background">
    <div class="buttons">
      <button class="button button-icon icon ion-chevron-left blush-brown" ng-click="closeModal()">
      </button>
    </div>
    <h1 class="title"></h1>

  </ion-header-bar>
  <ion-content class="login-container blush-background">
      <div style="text-align: center; padding-top: 0px;">
        <img src="img/stroke.png" alt="" style="width: 60%;">
        <!-- <h1 style="font-family: 'SouthernAire'; color: #eee; font-size: 8em;">Blush</h1> -->
      </div>
      <br>

      <form>
        <div class="list" style="padding-right: 9%; padding-left: 9%;">
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="Email" type="text" ng-model="loginData.username" autofocus>
          </label>
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="Password" type="password" ng-model="loginData.password">
          </label>
          <label class="item blush-background" style="padding-bottom: 0px;">
            <button class="button button-block button-light blush-button-brown login-button" ng-click="doLogin()">Log in</button>
          </label>
          <label class="item blush-background text-center" style="padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-block button-light button-clear" ng-click="showRegisterForm()" style="color: #574C4F;"><b>Register Here</b></button>
          </label>
        </div>
      </form>

    </div>


  </ion-content>
</ion-modal-view>
