<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <a href="#/app/artistlist" class="button button-icon button-small button-clear ion-location" style="color: #443b3e;">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" style="height: 190px; background: #f1807a !important; padding-left: 0px !important;">
      <div style="width: 275px; text-align: center;">
        <div style="padding-top: 20px;">
          <img ng-src="{{currentCustomer.attributes.avatar || profilePicTemp}}" class="blush-avatar" ng-click="viewProfile()" style="width: 100px; max-width: 100px; max-height: 100px; border-width: 7px; border-style: double; border-color: white;">
        </div>

        <div style="padding-top: 10px; font-size: 16px;">
          <button ng-hide="currentUser" ng-click="showRegisterForm()" class="button button-clear button-clear" style="padding: 0px; color: white;">
            <span> Sign Up </span>
          </button>

          <button ng-show="currentUser" ng-click="viewProfile()" class="button button-clear button-clear" style="padding: 0px; color: white;">
            <span> {{currentCustomer.attributes.firstName}} {{currentCustomer.attributes.lastName}} </span>
          </button>

          <button class="button button-clear button-clear" style="padding: 0px; color: white; padding-left: 15px; padding-right: 15px;">
            <span> | </span>
          </button>

          <button ng-hide="currentUser" ng-click="login()" class="button button-clear button-clear" style="padding: 0px; color: white;">
            <span> Log In </span>
          </button>

          <button ng-show="currentUser" ng-click="doLogout()" class="button button-clear button-clear" style="padding: 0px; color: white;">
            <span> Log Out </span>
          </button>
        </div>


      </div>

    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div style="padding-top: 150px !important;">
          <ion-item menu-close href="#/app/home">
            <i class="icon ion-ios-home-outline" style="font-size: 26px; padding-right:15px;"></i> Home
          </ion-item>
          <ion-item menu-close href="#/app/artistlist">
            <i class="icon ion-ios-location-outline" style="font-size: 26px; padding-right:20px;"></i> Find Artists
          </ion-item>
          <ion-item menu-close href="#/app/discover">
            <i class="icon ion-ios-glasses-outline" style="font-size: 26px; padding-right:12px;"></i> Daily Trends
          </ion-item>
          <ion-item menu-close href="#">

            <i class="icon ion-ios-bolt-outline" style="font-size: 26px; padding-right:22px;"></i> Quick Booking
          </ion-item>

          <ion-item ng-show="currentUser" menu-close href="#/app/inbox" style="border-top-width: 1px !important; border-top-color: gray; border-top-style: dashed;">
            <i class="icon ion-ios-email-outline" style="font-size: 26px; padding-right:15px;"></i> Inbox
          </ion-item>



          <!-- <div class="item item-divider">

          </div>
          <ion-item ng-hide="currentUser" menu-close ng-click="login()">
            Login
          </ion-item>
          <ion-item ng-show="currentUser" menu-close href="#/app/appointment">
            My Appointments
          </ion-item>
          <ion-item ng-show="currentUser" menu-close href="#/app/account">
            My Account
          </ion-item>
          <ion-item ng-show="currentUser" menu-close ng-click="doLogout()">
            Logout
          </ion-item> -->
        </div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
