<ion-modal-view>
  <ion-header-bar class="blush-background">
    <div class="buttons">
      <button class="button button-icon icon ion-chevron-left blush-brown" ng-click="closeModal()">
      </button>
    </div>
    <h1 class="title"></h1>

  </ion-header-bar>

  <ion-content class="login-container blush-background">
    <div style="padding-right: 9%; padding-left: 9%;">
      <div style="text-align: center;">
        <!-- <img src="img/stroke.png" alt="" style="width: 80%;"> -->
        <h1 style="color: rgba(68, 68, 68, 0.74); font-size: 30px;">Create your <b>Blush Account</b> for <b>FREE.</b></h1>
        <h1 style="color: rgba(68, 68, 68, 0.74); font-size: 16px;">No credit card required.</h1>
      </div>

      <br>

      <form ng-submit="doRegister()">
        <div class="list">
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="First Name" type="text" style="height: 40px !important;" ng-model="registerData.firstName" autofocus required>
          </label>
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="Last Name" type="text" style="height: 40px !important;" ng-model="registerData.lastName" required>
          </label>
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="Email" type="text" style="height: 40px !important;" ng-model="registerData.email" required>
          </label>
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="Mobile Number" type="number" style="height: 40px !important;" ng-model="registerData.contactNumber" required>
          </label>
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="Password" type="password" style="height: 40px !important;" ng-model="registerData.password" required>
          </label>
          <label class="item blush-background item-input" style="padding-right: 5%;">
            <input class="login-text login-input" placeholder="Confirm Password" type="password" style="height: 40px !important;" ng-model="registerData.confirmPassword" required>
          </label>

          <label class="item blush-background">
            <p style="font-size: 0.7em; color: rgba(68, 68, 68, 0.74); text-align: center; white-space: normal;">By creating an account, I agree to Blush's <b>Terms of Service</b> and <b>Privacy Policy</b></p>
            <button class="button button-block button-light blush-button-brown login-button" type="submit">Register Now!</button>
          </label>
        </div>
    </div>

  </form>
  </ion-content>
</ion-modal-view>
