<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Review</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-android-close" ng-click="hideReviewModal()">
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list">

			<div class="item">
				Rate this artist *
			</div>

			<div class="item">
				<rating ng-model="rating.rate" max="rating.max"></rating>
			</div>

			<div class="item">
				{{rateDescription[rating.rate]}}
			</div>


			<label class="item item-input">
				<input type="text" placeholder="Review Title" ng-model="rating.title">
			</label>

			<div class="item">
				<textarea name="" id="" cols="30" rows="10" style="box-sizing: border-box; border-color: gray; width:100%; border-width: 1px; border-style: solid;" ng-model="rating.review" placeholder="Write A Review...">
				</textarea>
			</div>

			<div class="item">
				<button class="button button-block button-energized" ng-click="submitReview()">Submit Review</button>
			</div>

		</div>



	</ion-content>
</ion-modal-view>
