/* Empty. Add your own CSS if you like */

@font-face {
	font-family: Raleway;
	src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: RalewayExtraBold;
	src: url(fonts/Raleway-ExtraBold.ttf);
}

.rale-way-bold {
	font-family : RalewayExtraBold !important;
}

.body{
	font-family: Raleway !important;
}

.item {
	border-width : 0px !important;
}

.scroll {
	height: 100%;
}

.blush-avatar{
	border-radius: 50%;
}

.blush-spinner{
	width:10px
}

#home-find : hover {
	background-color: #46000D;
}

/* ionic overrides*/
input {
	font-family: RaleWay;
}

a {
	font-family: RaleWay;
}

p {
	font-family: RaleWay;
}

h1,h2,h3,h4{
	font-family: RaleWay;
}

b, strong {
	font-family: RaleWay;
}

span {
	font-family: RaleWay;
}

.platform-android .bar .title {
	text-align: center;
}

.popup-container .popup {
	width: 90% !important;
}

.bar .title {
	font-family: RaleWay;
}

.bar {
	background-image: none;
}

.dot1, .dot2 {
	background-color: #6cff93 !important;
}

.menu {
	width: 100% !important;
}

.button.button-positive.active, .button.button-positive.activated {
	border-color: #a2a2a2;
	background-color: #20c5ff;
}

.button.button-positive.button-outline.active, .button.button-positive.button-outline.activated {
	border-color: #a2a2a2;
	background-color: #20c5ff;
}

.ion-google-place-container{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	display: none;
}


input.ion-google-place[readonly]{
	background-color: transparent;
	cursor: text;
	width: 100%;
	padding-left: 3%;
}


.button-clear.button-clear {
	color: #444;
}

.button.button-positive {
	border-color: transparent;
	background-color: #6cd9ff;
	color: #fff;
}

.button.button-positive.button-outline {
	border-color: #6cd9ff;
	background: transparent;
	color: #6cd9ff;
}

.rating-block {
	display: inline-block;
}

.tabs {
	position : static;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
	background: #f1807a;
	border-color: #f1807a;
}

.bar.bar-stable {
	background-color: white !important;
	border-color: white;
	color: black !important;
}

.bar.bar-stable .title {
	color: black;
}

.bar-stable .button.button-clear {
	color: black;
}

.bar-header {
	border-bottom-width: 0px;
}

.tab-item .icon {
	font-size: 26px;
}

.tabs-assertive > .tabs {
	background-color: #443b3e;
	height: 65px;
	padding-top: 10px;
	border-color: #443b3e;
	background-image: none;
}

.tabs-striped.tabs-assertive .tabs {
	background-color: #443b3e;
}

a {
	color: #444;
	text-decoration: none;
}

.button {
	border-radius: 0px;
}

.button.button-light.button-outline {
	border-color: #eee;
	background: transparent;
	color: #eee;
}

.button.button-light.button-clear {
	border-color: transparent;
	background: none;
	box-shadow: none;
	color: #eee;
}

.modal{
	top: 0 ;
	bottom: 0 ;
	left: 0 ;
	right: 0 ;
	width: 100% ;
	background-color: #f4eae9;
}

.card {
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
	box-shadow: none;
	/*border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	border-radius: 0px;*/
}


/* */

#map {
	width: 100%;
	height: 100%;
}

#map_canvas {
	height: 100%;
	width: 100%;
}


.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 45%;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}

/*Log in Style*/

.login-container {
	padding-top: 4%;
}

.login-button {
	border-radius: 30px !important;
	height: 50px !important;
}

.login-text {
	color: #444 !important;
	text-align: center;
}

.login-input {
	border-width: 1px !important;
	border-style: solid !important;
	border-radius: 30px !important;
	height: 50px !important;
	background: white !important;
	padding-right: 0px !important;
}

.blush-background {
	background: #f4eae9;


	/*background: #eacda3; /* fallback for old browsers */*/
	/*background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */*/
	/*background: linear-gradient(to left, #eacda3 , #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/

}

.blush-background-alt {
	/*background: #50C9C3;
	background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA);
	background: linear-gradient(to left, #50C9C3 , #96DEDA) !important;*/
	background : #eee4e5;
	color: #443b3e;
}

.blush-background-pink {
	background: #ff6c8f;
	color: white;
}

.blush-button-brown {
	background: #574C4F !important;
	color: white !important;
}

.blush-brown {
	color: #443b3e !important;
}

/* Home Style */

.my-container {
	position: relative;
	/*background: #ff6c8f;*/
	 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 200px;
	overflow: hidden;
}
.my-container h1 {
	padding: 50px;
	text-align: center;
	z-index: 2;
	position: relative;
	color: #fff;
}
.my-container img {
	position: absolute;
	left: 0;
	top: -15px;
	width: 100%;
	height: auto;
	z-index: 1;
	/*opacity: 0.5;*/
}

/*Chat*/
body {
	cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
	overflow: visible !important;
}

.bar-footer textarea {
	resize: none;
	height: 25px;
	width: 100%;
}

/* fixes an ios bug bear */
button.ion-android-send {
	padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
	position: relative;
	height: 100%;
	width: 50px;
	top: 7px;
}

.footer-btn {
	position: absolute !important;
	bottom: 0;
}

img.profile-pic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	bottom: 10px;
}

img.profile-pic.left {
	left: 10px;
}

img.profile-pic.right {
	right: 10px;
}

.ion-email {
	float: right;
	font-size: 32px;
	vertical-align: middle;
}

.message {
	font-size: 14px;
}

.message-detail {
	white-space: nowrap;
	font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
	width: 100% !important;
}

.message-wrapper {
	position: relative;
}

.message-wrapper:last-child {
	margin-bottom: 10px;
}

.chat-bubble {
	border-radius: 5px;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	margin: 10px;
	max-width: 80%;
}

.chat-bubble:before {
	content: "\00a0";
	display: block;
	height: 16px;
	width: 9px;
	position: absolute;
	bottom: -7.5px;
}

.chat-bubble.left {
	background-color: #e6e5eb;
	float: left;
	margin-left: 55px;
}

.chat-bubble.left:before {
	background-color: #e6e5eb;
	left: 10px;
	-webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
	background-color: #158ffe;
	color: #fff;
	float: right;
	margin-right: 55px;
}

.chat-bubble.right:before {
	background-color: #158ffe;
	right: 10px;
	-webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
	color: #fff;
	font-weight: bold;
}

.user-messages-top-icon {
	font-size: 28px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -3px;
	right: 5px;
}

.msg-header-username {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
	background-color: #F4EAE9 !important;
}

.bold {
	font-weight: bold;
}

.cf {
	clear: both !important;
}

a.autolinker {
	color: #3b88c3;
	text-decoration: none;
}

/* loading */
.loader-center {
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.loader .ion-loading-c {
	font-size: 64px;
}
